<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package
    Name="LibreNMS Windows Agent"
    Manufacturer="LibreNMS Windows Agent"
    Version="$(var.ProductVersion)"
    ProductCode="*"
    UpgradeCode="{7AA78970-198D-4B26-B9FD-FF05F42298B8}"
    Scope="perMachine">

    <MajorUpgrade
      AllowSameVersionUpgrades="yes"
      DowngradeErrorMessage="A newer version of LibreNMS Windows Agent is already installed."
      Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLVENDORFOLDER" Name="LibreNMS">
        <Directory Id="INSTALLFOLDER" Name="Windows Agent" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="DATAVENDORFOLDER" Name="LibreNMS">
        <Directory Id="DATADIR" Name="Windows Agent" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="LibreNMS Windows Agent" Level="1">
      <ComponentGroupRef Id="AgentComponents" />
    </Feature>

    <ComponentGroup Id="AgentComponents">
      <Component Id="ServiceExecutable" Directory="INSTALLFOLDER" Guid="{2E9EB844-932D-4868-A4BC-4B1F6B731262}">
        <File Id="ServiceExe" Source="$(var.PayloadDir)\LibreNMS.WindowsAgent.Service.exe" KeyPath="yes">
          <firewall:FirewallException
            Id="AgentFirewallDomain"
            Name="LibreNMS Windows Agent TCP 6556 (Domain)"
            Description="Allow LibreNMS pollers to reach the LibreNMS Windows Agent."
            Port="6556"
            Protocol="tcp"
            Profile="domain"
            Scope="any" />
          <firewall:FirewallException
            Id="AgentFirewallPrivate"
            Name="LibreNMS Windows Agent TCP 6556 (Private)"
            Description="Allow LibreNMS pollers to reach the LibreNMS Windows Agent."
            Port="6556"
            Protocol="tcp"
            Profile="private"
            Scope="any" />
        </File>
        <ServiceInstall
          Id="ServiceInstall"
          Type="ownProcess"
          Name="LibreNMSWindowsAgent"
          DisplayName="LibreNMS Windows Agent"
          Description="LibreNMS-first Checkmk-compatible Windows monitoring agent."
          Start="auto"
          ErrorControl="normal"
          Arguments="--config &quot;[DATADIR]agent.json&quot;" />
        <ServiceControl
          Id="ServiceControl"
          Name="LibreNMSWindowsAgent"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>

      <Component Id="CoreLibrary" Directory="INSTALLFOLDER" Guid="{6BCDB60B-BCE0-464D-A786-5642835341E4}">
        <File Id="CoreDll" Source="$(var.PayloadDir)\LibreNMS.WindowsAgent.Core.dll" KeyPath="yes" />
      </Component>

      <Component Id="ServiceConfigFile" Directory="INSTALLFOLDER" Guid="{6B9E93BD-3837-4D23-8403-85B5A7D0C6E9}">
        <File Id="ServiceExeConfig" Source="$(var.PayloadDir)\LibreNMS.WindowsAgent.Service.exe.config" KeyPath="yes" />
      </Component>

      <Component Id="MsiTemplate" Directory="INSTALLFOLDER" Guid="{634FBB59-474D-4E24-9141-5E391B90751E}">
        <File Id="AgentConfigTemplate" Source="$(var.AssetsDir)\agent.template.json" Name="t.json" KeyPath="yes" />
      </Component>

      <Component
        Id="AgentConfig"
        Directory="DATADIR"
        Guid="{74F7C8B5-47AD-4D43-B05F-46B663D4F875}"
        NeverOverwrite="yes"
        Permanent="yes">
        <File Id="AgentConfigFile" Source="$(var.AssetsDir)\agent.template.json" Name="agent.json" KeyPath="yes" />
      </Component>

      <Component Id="DataDirectory" Directory="DATADIR" Guid="{3437C77F-960A-49F0-BC57-B5C6B5285978}">
        <CreateFolder />
        <RegistryValue
          Root="HKLM"
          Key="Software\LibreNMS\Windows Agent"
          Name="DataDir"
          Type="string"
          Value="[DATADIR]"
          KeyPath="yes" />
      </Component>
    </ComponentGroup>

  </Package>
</Wix>
